:root{
    --main-txt: rgb(35, 37, 54);
    --second-txt: rgb(109, 110, 118);
    --interactive-elements-color: rgb(255, 208, 80);
    --akcent-color: rgb(89, 46, 169);
    --lavander-akcent: rgbs(244, 240, 248);
    --yellow-akcent: rgb(251, 246, 234);
    --light-grey: rgba(244, 244, 244, 1);
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    font-family: "Sen", sans-serif;
    color: var(--main-txt);
}
p, h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}
h2{
    font-style: Bold;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
}
h3{
    font-style: Bold;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1px;
}
ol, ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
button{
    display: block;
    cursor: pointer;
    border: none;
}
img{
    display: block;
}
.container{
    width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.link{
    text-decoration: none;
    color: currentColor;
    font-family: inherit;
}
.btn{
    padding: 16px 48px 16px 48px;

    background-color: var(--yellow-akcent);

    color: var(--main-txt);
    font-family: "Sen";
    font-style: Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.btn:hover{
    background-color: rgb(237, 193, 74);
}
